appnope==0.1.2
asgiref==3.3.1
backcall==0.2.0
decorator==4.4.2
Django==3.1.7
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.16
ptyprocess==0.7.0
Pygments==2.8.0
pytz==2021.1
sqlparse==0.4.1
traitlets==5.0.5
wcwidth==0.2.5

git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc_base
git+https://github.com/botswana-harvard/django-revision.git@0.1.14#egg=django-revision
git+https://github.com/botswana-harvard/edc-search.git@develop#egg=edc_search
git+https://github.com/botswana-harvard/edc-constants.git@0.2.8#egg=edc-constants
git+https://github.com/botswana-harvard/edc-navbar@develop#egg=edc-navbar
git+https://github.com/botswana-harvard/edc-device.git@0.2.7#egg=edc-device
git+https://github.com/botswana-harvard/edc-model-admin.git@0.1.1#egg=edc-model-admin
git+https://github.com/botswana-harvard/edc-device.git@0.2.6#egg=edc-device
git+https://github.com/botswana-harvard/edc-model-wrapper.git@develop#egg=edc_model_wrapper
git+https://github.com/botswana-harvard/edc-dashboard.git@develop#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-protocol.git@develop#egg=edc_protocol
